@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #004C6D;
    --secondary-color: #00796B;
    --accent1-color: #F1F1F1;
    --accent2-color: #FFCA28;

    --heading-font: 'roboto', sans-serif;
    --paragraph-font: 'open sans',sans-serif;

    --nav-background-color: #004C6D;
    --nav-link-color: #F1F1F1;
    --nav-hover-link-color: #00796B;
    --nav-hover-background-color: #fe9149;

    --bg-color: #f68438;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 960px;
    margin: auto;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Logo and Nav take up available space */
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--accent2-color);

    /* max-width: 960px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    border-bottom: 4px solid var(--accent2-color); */
}
header #logo{
    width: 85px;
    justify-self: center;
}
nav{
    display: flex;
    justify-content: flex-start;
    font-family: var(--heading-font);
}
nav a{
    text-decoration: none;
    color: var(--accent1-color);
    padding: 12px;
}
nav a:hover{
    background-color: var(--nav-hover-background-color);
    border-radius: 5px;
    color: var(--nav-hover-link-color);
}
main{
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1px 0;
}
.contact{
    grid-column: 1/4;
    max-width: 960px;
    background-color: lightblue;
    height: 200px;
}
.contact h1{
    color: black;
    font-family: var(--heading-font);
    text-align: center;
    padding: 20px 30px;
}
.contact p{
    padding: 5px 2px;
    color: black;
    font-family: var(--heading-font);
    text-align: center;
}
.feedback{
    grid-column: 1/3;
    background-color: #F1F1F1;
}
.employee-profile{
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
}
.employee-profile img{
    height: 75px;
    border-radius: 50%;
    margin-top: 25px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid var(--nav-background-color);
    align-items: center;
    margin: 0 auto;
    padding: 15px;
}

iframe{
    grid-column: 3/4;
    width: 100%;
    float: right;
}

footer{
    font-family: var(--paragraph-font);
    background-color: var(--nav-background-color);
    color: var(--accent1-color);
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}
footer p{
    margin-right: 8rem;
    align-items: center;
}
footer a {
    margin: 0 5px; 
}
footer a img{
    margin: 0 5px; 
    width: 35px;
    height: auto;
}