@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #004C6D;
    --secondary-color: #00796B;
    --accent1-color: #F1F1F1;
    --accent2-color: #FFCA28;

    --heading-font: 'roboto', sans-serif;
    --paragraph-font: 'open sans',sans-serif;

    --nav-background-color: #004C6D;
    --nav-link-color: #F1F1F1;
    --nav-hover-link-color: #00796B;
    --nav-hover-background-color: #fe9149;

    --bg-color: #f68438;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 960px;
    margin: auto;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Logo and Nav take up available space */
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--accent2-color);
}
header #logo{
    width: 85px;
    justify-self: center;
}
nav{
    display: flex;
    justify-content: flex-start;
    font-family: var(--heading-font);
}
nav a{
    text-decoration: none;
    color: var(--accent1-color);
    padding: 12px;
}
nav a:hover{
    background-color: var(--nav-hover-background-color);
    border-radius: 5px;
    color: var(--nav-hover-link-color);
}
main{
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1px auto;
    background-color: #f1f1f1;
}

/* Additional CSS for contact page */
.contact-info {
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 30px;
    background-color: #c8e2ed;
}
.contact-info h1{
    font-family: var(--heading-font);
    text-align: center;
    padding: 15px 25px;
}
.company-info {
    margin-bottom: 20px;
    font-family: var(--heading-font);
    padding: 5px 10px;
}

.map-container {
    width: 98%;
    max-width: 960px;
    margin: 0 auto;
}
iframe{
    width: 100%;
}
.employee-profiles {
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--paragraph-font);
}

.employee-profiles .profile {
    display: inline-block;
    width: 20%;
    margin: 15px 10px;
    vertical-align: top;
    padding-top: 15px;
}

.employee-profiles img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-form {
    grid-column: 3/4;
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: var(--paragraph-font);
}

.contact-form form {
    max-width: 600px;
    margin: 15px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form fieldset {
    border: none;
    margin-bottom: 15px;
}

.contact-form fieldset legend {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--nav-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: var(--nav-hover-background-color);
}


footer{
    font-family: var(--paragraph-font);
    background-color: var(--nav-background-color);
    color: var(--accent1-color);
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}
footer p{
    margin-right: 8rem;
    align-items: center;
}
footer a {
    margin: 0 5px; 
}
footer a img{
    margin: 0 5px; 
    width: 35px;
    height: auto;
}