


:root {
    --primary-color: #004C6D;
    --secondary-color: #00796B;
    --accent1-color: #F1F1F1;
    --accent2-color: #FFCA28;

    --heading-font:  Verdana, Geneva, Tahoma, sans-serif;
    --paragraph-font: Arial, Helvetica, sans-serif;

    --nav-background-color: #004C6D;
    --nav-link-color: #F1F1F1;
    --nav-hover-link-color: #00796B;
    --nav-hover-background-color: #fe9149;

    --bg-color: #f68438;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
}
.container{
    max-width: 960px;
    margin: auto;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Logo and Nav take up available space */
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--accent2-color);

    /* max-width: 960px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    border-bottom: 4px solid var(--accent2-color); */
}
header #logo{
    width: 85px;
    justify-self: center;
}
nav{
    display: flex;
    justify-content: flex-start;
    font-family: var(--heading-font);
}
nav a{
    text-decoration: none;
    color: var(--accent1-color);
    padding: 12px;
    transition: background-color 0.3s ease;
}
nav a:hover{
    background-color: var(--nav-hover-background-color);
    border-radius: 5px;
    color: var(--nav-hover-link-color);
}
main{
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1px;
    padding-bottom: 25px;
    background-color: #f1f1f1;
    max-width: 960px;
}

.hero{
    position: relative;
    grid-column: 1/4;
    max-width: 960px;
}
.hero img{
    width: 100%; /* Ensure hero image spans the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below image */
}
.hero h1{
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    color: var(--accent1-color);
    font-family: var(--heading-font);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent background */
    padding: 10px 20px;
}
article{
    display: flex;
    position: absolute;
    top: 100px;
    left: 3rem;
    width: 85%;
    height: 125px;
    background: rgba(1, 84, 52, 0.5); 
}
article img{
    max-height: 10rem;
}
article p{
    margin-bottom: 10px;
    margin-left: 2rem;
    max-height: 105px;
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
}
.history{
    display: grid;
    max-width: 960px;
    grid-template-columns: 50% 50%; /* Two columns for the history section */
    grid-template-rows: auto auto auto; 
    margin-top: 20px; 
    grid-column: 1/4;
}
.history h2{
    grid-column: 1 / -1; 
    margin-bottom: 5px; 
    text-align: center;
    font-family: var(--heading-font);
}
.history div{
    justify-content: space-around;
    max-width: 448px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
}
.history div img{
    width: 100%;
    padding: 5px;
}
.history div p{
    padding: 15px 5px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    text-align: justify;
}
/*
.left-top{
    grid-column: 1/2;
    grid-row: 2/3;
}
.right-top{
    grid-column: 2/3;
    grid-row: 3/4;
}
.left-middle{
    grid-column: 1/2;
    grid-row: 4/5;
}
.right-middle{
    grid-column: 2/3;
    grid-row: 5/6;
}
.left-bottom{
    grid-column: 1/2;
    grid-row: 6/7;
}
.right-bottom{
    grid-column: 2/3;
    grid-row: 7/8;
} */
.adventures div{
    display: flex;
    column-gap: 5px;
    margin-left: 7px;
}
figure{
    max-width: 185px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
figure > div > img{
    max-width: 200px;
    max-height: 100px;
}
figcaption{
    background-color: var(--nav-background-color);
    color: #fff;
    font: var(--heading-font);
    text-align: center;
}
.adventures{
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 35px;
}
.adventures h2{
    grid-column: 1/3;
    text-align: center;
    padding: 5px;
    margin: 12px;
    border-bottom: 1px solid var(--accent2-color);
}

/* Additional CSS for contact page */
.contact-info {
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 30px;
    background-color: #c8e2ed;
}
.contact-info h1{
    font-family: var(--heading-font);
    text-align: center;
    padding: 15px 25px;
}
.company-info {
    margin-bottom: 20px;
    font-family: var(--heading-font);
    padding: 5px 10px;
}

.map-container {
    width: 98%;
    max-width: 960px;
    margin: 0 auto;
}
iframe{
    width: 100%;
}
.employee-profiles {
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--paragraph-font);
}

.employee-profiles .profile {
    display: inline-block;
    width: 20%;
    margin: 15px 10px;
    vertical-align: top;
    padding-top: 15px;
}

.employee-profiles img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-form {
    grid-column: 3/4;
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: var(--paragraph-font);
}

.contact-form form {
    max-width: 600px;
    margin: 15px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-form fieldset {
    border: none;
    margin-bottom: 15px;
}

.contact-form fieldset legend {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--nav-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: var(--nav-hover-background-color);
}

/*Additional css for trips page*/
.explore{
    grid-column: 1/4;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--accent2-color);
    padding: 15px;
}
.explore h1 {
    font-family: var(--heading-font);
    font-size: 36px;
    margin: 20px;
}
.explore p {
    font-family: var(--paragraph-font);
    font-size: 18px;
    margin-bottom: 30px;
}
.cta-button {
    display: inline-block;
    background-color: var(--nav-background-color);
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--nav-hover-background-color);
}
.trip-descriptions {
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.trip {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trip img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.trip h2 {
    font-size: 24px;
    padding: 10px;
    background-color: var(--nav-background-color);
    color: #fff;
    margin: 0;
}

.trip p {
    padding: 10px;
    margin: 0;
}


.trip-table {
    margin-top: 30px;
    grid-column: 1/4;
    width: 70%;
    justify-self: center;
}

.trip-table h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
    background-color: #f9f9f9;
}

.trip-table th, .trip-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.trip-table th {
    background-color: #f2f2f2;
}

.trip-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.trip-table tbody tr:hover {
    background-color: #ddd;
}

footer{
    background-color: #004C6D;
    color: #F1F1F1;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}
footer p{
    margin-right: 8rem;
    align-items: center;
}
footer a {
    margin: 0 5px; 
}
footer a img{
    margin: 0 5px; 
    width: 35px;
    height: auto;
}